################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttachmentsDemo/Builds/VisualStudio2015/enc_temp_folder/38b1ef67b572303b11b6c8d8396494/juce_AudioProcessorValueTreeState.h
/AttachmentsDemo/Builds/VisualStudio2015/enc_temp_folder/97769c21fc076da52cf1aa5b06ea2fd/juce_AudioProcessorValueTreeState.cpp
